{% extends "base.html" %}
{% set title = "Cast Vote" %}

{% block content %}
<div class="vote-page">
    <h2>Cast Your Vote</h2>

    <p class="mt-1">
    <strong>Election:</strong>
    {{ session.get("active_election_name") }}
</p>

    <form id="vote-form" method="POST" class="vote-form">


        <!-- =========================
             Vote Payload (Encrypted / Hashed)
        ========================== -->

   {% if candidates and candidates|length > 0 %}
<div class="form-group">
    <label>Your Choice</label>

    {% for candidate in candidates %}
        <label class="candidate-option">
            <input
                type="radio"
                name="candidate_id"
                value="{{ candidate.id }}"
                required
            >
            {{ candidate.candidate_name }} ({{ candidate.party_name }})
        </label>
    {% endfor %}
</div>
{% else %}
<p class="info-note">No candidates available for this election.</p>
{% endif %}




        <button type="submit" class="btn-primary">
            Submit Vote
        </button>
    </form>

    <div class="vote-note">
        <p>
            Your vote will be securely recorded on the blockchain.
            You will receive a transaction ID after submission.
        </p>
    </div>
</div>

<!-- =========================
     Vote JS
========================= -->
<script src="{{ url_for('static', filename='js/vote.js') }}"></script>
<script src="{{ url_for('static', filename='js/force_end_session.js') }}"></script>

{% endblock %}
